<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
	
		<setting id="num_p"  type="number"  label="Tmdb Pages to scan" visible="true" default="1"/>
		<setting id="order_networks" type="enum" label="order networks By" values="Popular|Release date|Votes"  default="0" />
		<setting id="dp" label="Show progress" type="bool" default="true" />
	
		<setting id="size_limit"  type="number"  label="Filter sources more then GB"  default="40"/>
		<setting id="save_time"  type="number"  label="Hours for Cache" visible="true" default="72"/>
		<setting id="time_to_save" label="Mark Trakt watched after % of movie/tv show" type="number" default="75" />
		<setting id="better_look" label="new sources Menu" type="bool"  default="true" />
		
		<setting id="display_lock" label="Use display lock" type="bool"  default="true" />
		
		<setting label="Clear Trakt" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=147&url=www)" />
		<setting label="*** Sync track to shadow DB ***" option="close" type="action"   action="RunPlugin(plugin://plugin.video.shadow?mode=157&url=False)"/>
	
		<setting label="[COLOR lightblue][I]Upload Log[/I][/COLOR]" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=163&url=www)" />
		<setting label="trakt access token" id="trakt_access_token" type="text" visible="false" />
		<setting label="trakt refresh token" id="trakt_refresh_token" type="text" visible="false" />
		<setting label="trakt refresh token" id="trakt_expires_at" type="text" visible="false" />
		
		<setting id="rd.auth" type="text" default="" visible="hidden" />
		<setting id="rd.refresh" type="text" default="" visible="hidden" />
		<setting id="rd.client_id" type="text" default="" visible="hidden" />
		<setting id="rd.expiry" type="text" default="0" visible="hidden"/>
		<setting id="rd.secret" type="text" default="" visible="hidden" />
		<setting id="ghaddr" type="text" default="" visible="hidden" />
		<setting id="premiumize.token" type="text" default="" visible="false" />
		<setting id="alldebrid.token" type="text" default="" visible="false" />
		<setting id="alldebrid.username" type="text" default="" visible="false" />
		

	</category>
	<category label="Filters">
		<setting label="[COLOR khaki][I]Movies[/I][/COLOR]" type="lsep"/>
		<setting id="garbage" type="text" default="" visible="false" />
		<setting label="Quality" type="lsep"/>
		<setting id="max_q" type="enum" label="Maximum quality" values="720|1080|2160"  default="2" />
		<setting id="min_q" type="enum" label="Minimum quality" values="any|720|1080|2160"  default="0" />
		
		<setting label="Encoding" type="lsep"/>
		<setting id="encoding_filter" type="bool" label="Encoding filter" default="false" />
		<setting id="3d" type="bool" label="Show 3d Sources" default="false" visible="eq(-1,true)"/>
		<setting id="hdvc" type="bool" label="Show hevc sources" default="true" visible="eq(-2,true)"/>
		<setting id="low_q" type="bool" label="Show Low quality Sources (CAM)" default="false" visible="eq(-3,true)"/>
		
		<setting label="[COLOR khaki][I]Tv[/I][/COLOR]" type="lsep"/>
		<setting id="garbage2" type="text" default="" visible="false" />
		<setting label="Quality" type="lsep"/>
		<setting id="max_q_tv" type="enum" label="Maximum quality" values="720|1080|2160"  default="2" />
		<setting id="min_q_tv" type="enum" label="Minimum quality" values="any|720|1080|2160"  default="0" />
		
		<setting label="Encoding" type="lsep"/>
		<setting id="encoding_filter_tv" type="bool" label="Encoding filter" default="false" />
		<setting id="3d_tv" type="bool" label="Show 3d Sources" default="false" visible="eq(-1,true)"/>
		<setting id="hdvc_tv" type="bool" label="Show hevc sources" default="true" visible="eq(-2,true)"/>
		<setting id="low_q_tv" type="bool" label="Show Low quality Sources (CAM)" default="false" visible="eq(-3,true)"/>
		
	</category>
	
	<category label="Debrid">
		<setting id="debrid_use" label="Use debrid service" type="bool"  default="true" />
		<setting id="debrid_select" type="enum" label="Debrid Service" values="RD|premiumize|ALLdebrid"  default="0" />
		<setting label="Clear RD" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=137&url=www)" visible="eq(-1,0)"/>
		<setting label="Re auth. RD" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=138&url=www)" visible="eq(-2,0)"/>
		
		<setting label="Clear PR" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=139&url=www)" visible="eq(-3,1)"/>
		<setting label="Re auth. PR" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=140&url=www)" visible="eq(-4,1)"/>
		
		<setting id="premiumize.addToCloud" type="bool" subsetting="true" label="Store resolved items in cloud" default="false" visible="eq(-5,1)" />
		<setting id="premiumize.transcoded" type="bool" subsetting="true" label="Prefer Transcoded Files" default="false" visible="eq(-6,1)" />
		
		<setting label="Clear AllDebrid Auth" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=141&url=www)" visible="eq(-7,2)"/>
		<setting label="Re auth. AllDebrid" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=142&url=www)" visible="eq(-8,2)"/>
		
	</category>
	
	
	<category label="Next up">
		<setting id="nextup_episode" label="nextup episode" type="bool"  default="true" />
		<setting id="play_nextup_wait" label="Auto play if no choise is made" type="bool"  default="false" visible="eq(-1,true)"/>
		<setting id="window" label="Show next episode ... second before the end" type="number" default="30" visible="eq(-2,true)"/>
	
		<setting id="before_end2" label="Activate next episode ... second before the end" type="number"  default="3" visible="eq(-3,true)"/>
		<setting id="nextup_movie" label="nextup movie" type="bool"  default="true" />
		<setting id="movie_window" label="Show recommended movie ... second before the end" type="number" default="300" visible="eq(-1,true)"/>
	</category>
	
	<category label="Context menu">
		<setting id="play_trailer" label="Play Trailer" type="bool"  default="true" />
		<setting id="shadow_settings" label="Shadow settings" type="bool"  default="true" />
		<setting id="queue_item" label="Queue item" type="bool"  default="true" />
		<setting id="trakt_manager" label="Trakt manager" type="bool"  default="true" />
		<setting id="trakt_watched" label="Trakt watched" type="bool"  default="true" />
		<setting id="trakt_unwatched" label="Trakt unwatched" type="bool"  default="true" />
		<setting id="openinfo" label="Openinfo" type="bool"  default="true" />
		<setting id="remove_resume_time" label="Remove Resume time" type="bool"  default="true" />
		<setting id="browse_series" label="Browse series" type="bool"  default="true" />
		<setting id="remove_resume_point" label="Remove resume point" type="bool"  default="true" />
		<setting id="clear_Cache" label="Clear Cache" type="bool"  default="true" />
		<setting id="set_view_type" label="Set view type" type="bool"  default="true" />
		
	</category>
	
	<category label="One click Play">
		<setting label="Movies" type="lsep"/>
		<setting id="one_click" label="One click play" type="bool"  default="false" />
		
		<setting id="max_quality" type="enum" label="Max quality" values="2160|1080|720|any"  default="3" visible="eq(-1,true)"/>
		<setting id="min_quality" type="enum" label="Min quality" values="2160|1080|720|any"  default="2" visible="eq(-2,true)"/>
		
		<setting label="Tv Shows" type="lsep"/>
		<setting id="one_click_tv" label="One click play" type="bool"  default="false" />
		
		<setting id="max_quality_tv" type="enum" label="Max quality" values="2160|1080|720|any"  default="3" visible="eq(-1,true)"/>
		<setting id="min_quality_tv" type="enum" label="Min quality" values="2160|1080|720|any"  default="2" visible="eq(-2,true)"/>


	</category>
	<category label="Sources">
		<setting id="time_s"  type="number"  label="max time for scraping" visible="true" default="10"/>
		<setting label="Enable all" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=173&url=www&name=enable)" />
		<setting label="Disable all" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=173&url=www&name=disable)" />
		
		<setting id="1337x" label="1337x" type="bool"  default="true" />
		<setting id="7tor" label="7tor" type="bool"  default="true" />
		<setting id="api" label="api" type="bool"  default="true" />
		<setting id="bay" label="bay" type="bool"  default="true" />
		<setting id="bitlord" label="bitlord" type="bool"  default="true" />
		<setting id="btdig" label="btdig" type="bool"  default="true" />
		<setting id="dl" label="dl" type="bool"  default="true" />
		<setting id="extra" label="extra" type="bool"  default="true" />
		<setting id="ext" label="ext" type="bool"  default="true" />
		<setting id="ez" label="ez" type="bool"  default="true" />
		<setting id="ezio" label="ezio" type="bool"  default="true" />
		<setting id="ezshow" label="ezshow" type="bool"  default="true" />
		<setting id="glorls" label="glorls" type="bool"  default="true" />
		<setting id="idope" label="idope" type="bool"  default="true" />
		<setting id="kass" label="kass" type="bool"  default="true" />
		
		<setting id="lime" label="lime" type="bool"  default="true" />
		<setting id="monk" label="monk" type="bool"  default="true" />
		<setting id="morg" label="morg" type="bool"  default="true" />
		<setting id="magno" label="magno" type="bool"  default="true" />
		<setting id="pop" label="pop" type="bool"  default="true" />
		<setting id="qaz" label="qaz" type="bool"  default="true" />
		<setting id="sez" label="sez" type="bool"  default="true" />
		<setting id="sky" label="sky" type="bool"  default="true" />
		<setting id="sky2" label="sky2" type="bool"  default="true" />
		<setting id="shrss" label="shrss" type="bool"  default="true" />
		<setting id="snow" label="snow" type="bool"  default="true" />
		<setting id="sol" label="sol" type="bool"  default="true" />
		<setting id="soup" label="soup" type="bool"  default="true" />
		<setting id="thd" label="thd" type="bool"  default="true" />
		<setting id="tse" label="tse" type="bool"  default="true" />
		<setting id="trp" label="trp" type="bool"  default="true" />
		<setting id="tsdl" label="tsdl" type="bool"  default="true" />
		<setting id="torq" label="torq" type="bool"  default="true" />
		<setting id="trpar" label="trpar" type="bool"  default="true" />
		<setting id="yts" label="yts" type="bool"  default="true" />
		<setting id="zg" label="zg" type="bool"  default="true" />
		
		
	</category>
	<category label="Externals">
		<setting label="Furk" type="lsep" />
		<setting id="provider.furk" type="bool" label="Enable Furk Scraper" default="false" />
		
        <setting id="furk_login" type="text" label="Login" default="" />
        <setting id="furk_password" type="text" label="Password" default="" />
        <setting id="furk_api_key" type="text" label="Furk API Key (optional)" default="" />
        <setting id="furk.mod.level" label="Search Moderation Level" type="labelenum" default="No" values="No|Yes|Full"  subsetting="true" />
        <setting label="Easynews" type="lsep" />
		<setting id="provider.easy" type="bool" label="Enable Easynews Scraper" default="false" />
        <setting id="easynews.user" type="text" label="Login" default="" />
        <setting id="easynews.password" type="text" label="Password" default="" />
        
		
	</category>
</settings>
