<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="General">
		<setting label="Enable library updates" id="library_updates" type="bool" default="true"/>
		<setting label="Force library update" type="action" action="RunPlugin(plugin://script.meta/update_library)" visible="eq(-1,true)"/>
		<setting label="Pages to consider for random playback" id="random_pages" type="number" default="3"/>
        <setting label="Movies Batch Add File Path" id="movies_batch_add_file_path" type="text" default="special://profile/addon_data/script.meta/movies_to_add.txt" visible="false"/>
        <setting label="TV shows Batch Add File Path" id="tv_batch_add_file_path" type="text" default="special://profile/addon_data/script.meta/shows_to_add.txt" visible="false"/>
	</category>
	<category label="Advanced">
		<setting label="Clear cache" type="action" action="RunPlugin(plugin://script.meta/clear_cache)"/>
		<setting label="Movies library folder" id="movies_library_folder" type="folder" default="special://profile/addon_data/script.meta/Movies/"/>
		<setting label="TV shows library folder" id="tv_library_folder" type="folder" default="special://profile/addon_data/script.meta/TVShows/"/>
		<setting label="Total Setup" option="close" type="action" action="RunPlugin(plugin://script.meta/setup/total)" visible="true"/>
		<setting label="Total Setup Done" id="total_setup_done" type="bool" default="false" visible="false"/>
		<setting label="Update Meta players" option="close" type="action" action="RunPlugin(plugin://script.meta/update_players)"/>
	</category>
	<category label="Trakt">
		<setting label="Authenticate Trakt" type="action" action="RunPlugin(plugin://script.meta/authenticate_trakt)"/>
		<setting label="Sync your Trakt collections to Kodi library?" id="library_sync_collection" type="bool" default="false"/>
		<setting label="Clear Trakt account settings" option="close" type="action" action="RunPlugin(plugin://script.meta/cleartrakt)"/>
		<setting label="trakt access token" id="trakt_access_token" type="text" visible="false"/>
		<setting label="trakt refresh token" id="trakt_refresh_token" type="text" visible="false"/>
		<setting label="trakt refresh token" id="trakt_expires_at" type="text" visible="false"/>
	</category>
</settings>
